<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all users</title>
    
  

</head>
<body>
    <h1>All Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Last updated on</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for one_friend in users%}
                <tr>
                    <td>{{ one_friend.id }}</td>
                    <td>{{one_friend.first_name}} {{one_friend.last_name}} </td>
                    <td>{{ one_friend.email}}</td>
                    <td>{{ one_friend.created_at}}</td>
                    <td>{{ one_friend.updated_at}}</td>
                    <td> <a href="/user/{{ one_friend.id }}">show</a> <a href="/edit/{{ one_friend.id }}">edit</a> <a href="/delete/{{ one_friend.id }}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/new">Add a New User</a>
</body>
</html>