<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckerBoard</title>
</head>

    <style>
        *{
            border: 0;
            margin: 0;
        }

        .color {
            background-color: red;
            height: 50px;
            width: 50px;
        }
        .color1 {
            background-color: blue;
            height: 50px;
            width: 50px;
        }
    </style>
<body>
    <table>
    {%for i in range (8): %}
        <tr>
            {%for j in range (8):%}
            <td class="color"{{ (i+j)%2+1}}></td>
            {% endfor %}
        </tr>    
    {% endfor %}
    </table>

    
</body>
</html>